
@{
    ViewBag.Title = "Crear Prestamo";
}
<div style="text-align:end">
    <a class="btn btn-light btn-sm" href="/Empleado/Empleado">Volver</a>
    <a class="btn btn-warning btn-sm" href="/Empleado/Lista_Prestamos">Ver Préstamos</a>
</div>

<h2>Nuevo Préstamo</h2>

