
@{
    ViewBag.Title = "Lista Empleados";
}

<div style="text-align:end">
    <a class="btn btn-light btn-sm" href="/Empleado/Empleado">Volver</a>
    <a class="btn btn-success btn-sm" href="/Empleado/CrearEmpleado">Nuevo Empleado</a>

</div>

<h2>Lista Empleados</h2>

