
@{
    ViewBag.Title = "Lista Préstamos";
}
<div style="text-align:end">
    <a class="btn btn-light btn-sm" href="/Empleado/Empleado">Volver</a>
    <a class="btn btn-success btn-sm" href="/Empleado/Crear_Prestamo">Nuevo Préstamo</a>

</div>
<h2>Lista Préstamos</h2>

